<div class="jumbotron">
  <div class="container"><h1>Welcome to card game.</h1></div>
  <div [formGroup]="matchForm"
       *ngIf="!matchOver">
    <div class="container"
         *ngIf="stage===1">
      <div class="form-group">
        <label for="usr">Target score:</label>
        <input type="number"
               class="form-control"
               formControlName="target">
        <div *ngIf="target.invalid && (target.dirty || target.touched)">
          <div *ngIf="
           target.errors.required">
            Target score is required.
          </div>
          <div *ngIf="
           target.errors.min">
            Target score should be greater than 1.
          </div>
          <div *ngIf="
        target.errors.max">
            Target score should be lesser than 1000.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="usr">No of players:</label>
        <input type="number"
               class="form-control"
               formControlName="numberOfPlayers">
        <div *ngIf="numberOfPlayers.invalid && (numberOfPlayers.dirty || numberOfPlayers.touched)">
          <div *ngIf="
        numberOfPlayers.errors.required">
            No of players is required.
          </div>
          <div *ngIf="
        numberOfPlayers.errors.min">
            No of players should be greater than 2.
          </div>
          <div *ngIf="
        numberOfPlayers.errors.max">
            No of players should be lesser than 10.
          </div>
        </div>
      </div>
      <div>
        <button *ngIf="stage!==3"
                type="button"
                class="btn btn-primary"
                (click)="onClickOfMatchStartButton()">{{buttonText[stage-1]}}</button>
      </div>
    </div>

    <div class="container"
         *ngIf="stage!==1"
         formArrayName="players">
      <label *ngIf="stage===2">Provide All players name</label>
      <app-single-player [(stage)]="stage"
                         [(target)]="target"
                         [(slNo)]="i"
                         *ngFor="let player of players.controls;let i=index"
                         (scoreAdded)="onScoreAdded()"
                         [(singlePlayerForm)]="player"></app-single-player>
      <div>
        <button *ngIf="stage!==3"
                type="button"
                class="btn btn-primary"
                (click)="onClickOfMatchStartButton()">{{buttonText[stage-1]}}</button>
      </div>
    </div>

  </div>
  <div *ngIf="matchOver">
    <div class="container row">
      <h6> !!!!   Hurray   !!!!! </h6>
      <h6>Player {{playerWon}} has won the match</h6>
    </div>
    <div class="container">
      <p>Want to start a new match?</p>
      <div class="row">

        <div class="col-6">
          <button type="button"
                  class="btn btn-primary"
                  (click)="onNewMatch(1)">New match</button>
        </div>
        <div class="col-6">
          <button type="button"
                  class="btn btn-primary"
                  (click)="onNewMatch(2)">Continue with current settings</button>
        </div>
      </div>
    </div>

  </div>
</div>
