<!-- #region full region -->
<div class="jumbotron shadow-lg mt-5">

  <!-- #region Welcome text -->
  <div class="container  pb-5">
    <h1 class="mx-auto fit-content">Welcome to Score board!</h1>
  </div>
  <!-- #endregion -->

  <!-- #region match in progress -->
  <div class="container">

    <div [ngSwitch]="matchStage.value"
         [formGroup]="matchForm">

      <!-- #region stage 1 -->
      <div *ngSwitchCase="MatchStage.TARGET_AND_NO_OF_PLAYERS">

        <!-- #region Target score input -->
        <div class="form-group">
          <label>Target score:</label>
          <input type="number"
                 class="form-control"
                 formControlName="target">
          <div class="alert alert-danger"
               *ngIf="target.invalid && (target.dirty || target.touched)">
            <div *ngIf="target.errors.required"> Target score is required. </div>
            <div *ngIf="target.errors.min"> Target score should be greater than 1. </div>
            <div *ngIf="target.errors.max"> Target score should be lesser than 1000. </div>
          </div>
        </div>
        <!-- #endregion -->

        <!-- #region No of Players input -->
        <div class="form-group">
          <label>No of players:</label>
          <input type="number"
                 class="form-control"
                 formControlName="numberOfPlayers">
          <div class="alert alert-danger"
               *ngIf="numberOfPlayers.invalid && (numberOfPlayers.dirty || numberOfPlayers.touched)">
            <div *ngIf="numberOfPlayers.errors.required">No of players is required.</div>
            <div *ngIf="numberOfPlayers.errors.min">No of players should be greater than 2.</div>
            <div *ngIf="numberOfPlayers.errors.max"> No of players should be lesser than 10.</div>
          </div>
        </div>
        <!-- #endregion -->

      </div>
      <!-- #endregion -->

      <!-- #region stage 2 -->
      <div *ngSwitchCase="MatchStage.PLAYER_NAMES">
        <div *ngFor="let item of players.controls;let i=index;"
             formArrayName="players">
          <!-- #region Player Names Input -->
          <div class="form-group"
               [formGroupName]="i">
            <label>Player {{i+1}} name</label>
            <input type="text"
                   class="form-control"
                   formControlName="name">
            <div class="alert alert-danger"
                 *ngIf="getFG('name', i).invalid && (getFG('name', i).dirty || getFG('name', i).touched)">
              <div *ngIf="getFG('name', i).errors.required">Player Name is required.
              </div>
            </div>
          </div>
          <!-- #endregion -->
        </div>
      </div>
      <!-- #endregion -->

      <!-- #region stage 3 -->
      <div *ngSwitchCase="MatchStage.SCORES">
        <div class="container mx-auto fit-content pb-5">
          <h3>Round {{round.value}}</h3>
        </div>
        <div *ngFor="let item of players.controls;let i=index;"
             formArrayName="players">
          <div class="form-group"
               [formGroupName]="i">
            <!-- #region Player current round score Input -->
            <div *ngIf="!getFG('playerLost', i).value">
              <div class="clearfix">
                <h5 class="float-left">{{getFG('name', i).value}}</h5>
                <h5 class="float-right">
                  <strong>
                    {{getFG('totalScore', i).value}}
                  </strong>
                  points
                </h5>
              </div>
              <div class="form-group">
                <input type="number"
                       class="form-control"
                       formControlName="currentRoundScore">
                <div class="alert alert-danger"
                     *ngIf="getFG('currentRoundScore', i).invalid 
                       && (getFG('currentRoundScore', i).dirty 
                       || getFG('currentRoundScore', i).touched)">
                  <div *ngIf="getFG('currentRoundScore', i).errors.required"> Current score is required.
                  </div>
                </div>
              </div>
            </div>
            <!-- #endregion -->
            <h6 *ngIf="getFG('playerLost', i).value">
              Player {{getFG('name', i).value}} has been
              eliminated.Score[{{getFG('totalScore', i).value}}]
            </h6>
          </div>
        </div>
      </div>
      <!-- #endregion -->

      <!-- #region stage 4 -->
      <div *ngSwitchCase="MatchStage.OVER">
        <div>
          <h3 *ngIf="!isDrawn.value"
              class="mx-auto fit-content p-3"> !!!! Hurray !!!!! </h3>
          <h2 class="alert mx-auto fit-content p-3"
              [ngClass]="{'alert-success':!isDrawn.value, 'alert-info':isDrawn.value}">
            {{resultMessage.value}}
          </h2>
        </div>
        <p class="mx-auto fit-content p-3">Want to play again?</p>
        <div class="clearfix">

          <div class="float-left">
            <button type="button"
                    class="btn btn-primary"
                    (click)="onClickOfNextMatchButton(NextMatch.NEW_MATCH)">Start a New Match</button>
          </div>
          <div class="float-right">
            <button type="button"
                    class="btn btn-primary"
                    (click)="onClickOfNextMatchButton(NextMatch.OLD_MATCH)">Continue with current data</button>
          </div>
        </div>
      </div>
      <!-- #endregion -->
    </div>

    <div *ngIf="matchStage.value !== MatchStage.OVER"
         class="float-right">
      <button type="button float-right"
              class="btn btn-primary"
              (click)="onClickOfMatchButton()">{{buttonText[matchStage.value]}}</button>
    </div>

  </div>
  <!-- #endregion -->

</div>
<!-- #endregion -->
